doctype html
html
  head
    title Comic Viewer
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="images/favicon.ico" rel="shortcut icon")
    meta(charset="UTF-8")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.13/css/all.css")
    link(rel="stylesheet", href="stylesheets/all.css")
  body

    .container
      .form

        ul.form-process
          li.is_completed
          li.is_completed
          li.is_completed
          li.is_completed
          
        .form-title
          h2 Congratulations
          h3 Now you’re one of us!

      .success
        .res-img
          i.fas.fa-smile
        p.res-text Redirected to homepage after 5 seconds…
    
    script(src="javascripts/vendor.js")
    script(src="javascripts/all.js")