doctype html
html
  head
    title Comic Viewer
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="images/favicon.ico" rel="shortcut icon")
    meta(charset="UTF-8")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.13/css/all.css")
    link(rel="stylesheet", href="stylesheets/all.css")
  body

    .container
      .form

        ul.form-process
          li.is_completed
          li.active
          li
          li
          
        .form-title
          h2 General Infomation
          h3 Tell us who you are!

        form.form-wrap

          .form-group
            .form-row
              .col
                label
                  | Name
                  span (optional)
                input.form-control(type="text" placeholder="Example Name")
              .col
                label Phone*
                input.form-control(type="text" placeholder="0912 345 678")

          .form-group
            label
              | Birth Date
              span (optional)
            .form-row
              .col
                select.form-control
                  option(value="1") YYYY
              .col
                select.form-control
                  option(value="1") MM
              .col
                select.form-control
                  option(value="1") DD

          .form-group
            label Address*
            .form-row
              .col
                select.form-control
                  option(value="1") City
              .col
                select.form-control
                  option(value="1") Dist

          .form-group
            input.form-control(type="text" placeholder="Address Detail")

          a(href="step3.html").btn.btn-submit SUBMIT & NEXT
    
    script(src="javascripts/vendor.js")
    script(src="javascripts/all.js")